@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom_bg{
  background-image: url('../../public/home.jpg');
}


.border-search-btn{
  border-color: rgb(253 224 71);
}

.border-search-btn:hover{
  border-color: rgb(234 179 8);
  box-shadow: 0 5px 25px -5px rgb(254 249 195);
  transform: translateY(-5px);
}